.details__anchor {
  &-scientist,
  &-dev,
  &-design,
  &-write {
    position: absolute;
    color: $brand-redshade;
    font-size: 20px;
    text-transform: uppercase;

    opacity: 0;
    @include fadeIn(0.5s, 0.5s);

    // @media(min-width: $mobile) {
    //   font-size: 20px;
    // }

    &--hidden {
      display: none;
    }

    &:hover {
      color: $brand-red;
      font-size: 24px;
      @include transition(0.3s ease);
    }

    &:hover::before {
      // content: "See what I've done as a ";
    }
  }


  &-scientist,
  &-write {
    left: 50%;
    transform: translateX(-50%);
  }

  &-scientist {
    top: 0;
  }

  &-write {
    bottom: 0;
  }

  &-dev,
  &-design {
    top: calc(50% - 50px);
    height: 100px;

    &:hover {
      transform: rotate(0);
      top: calc(50% - 15px);
    }
  }

  &-dev {
    left: -10px;
    transform: rotate(-90deg);

    &:hover {
      left: 0;
    }
  }

  &-design {
    right: 0;
    transform: rotate(90deg);

    &:hover {
      top: calc(50% - 15px);
      // transform: translateY(-100px);
      transform: rotate(0);
      right: 0;
    }
  }
}

.details__descriptor {
  font-family: "Work Sans";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  // font-style: italic;

  opacity: 0;
  @include fadeIn(0.5s, 0.5s);

  &--hidden {
    display: none;
  }

  // @media (min-width: $mobile) {
  //   font-size: 18px;
  // }
}

.developer__panel,
.scientist__panel,
.design__panel,
.write__panel {
  position: absolute;
  background: $brand-redshade-fade;
  @include transition(all 0.5s ease);
}

.developer__panel {
  height: 100vh;
  width: 0;

  &--visible {
    width: 100vw;
    left: -20px;
    top: -20px;
  }
}

.design__panel {
  height: 100vh;
  width: 100vw;
  left: 100vw;
  
  &--visible {
    left: -20px;
    top: -20px;
  }
}

.scientist__panel {
  top: 0;
  left: 0;
  height: 0;
  width: 100vw;
  
  &--visible {
    height: 100vh;
  }
}

.write__panel {
  left: 0;
  top: 100vh;
  height: 0;
  width: 100vw;

  &--visible {
    top: 0;
    height: 100vh;
  }
}
