
body {
  margin: 0;
  // font-size: 16px;
  box-sizing: border-box;
  color: $brand-black;
  font-family: "Arvo", sans-serif;
  margin-right: 30px;
}

h1 {
  font-family: "Source Sans Pro";
  color: #333;
  font-weight: 700;
  font-size: 72px;
}

p {
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;

  animation: appearBG 1.5s ease forwards 0s;
}

.hidden {
  display: none;
}
