.title {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 400px;
  
  font-family: "Source Sans Pro";
  font-weight: 700;
  color: $brand-black;

  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;

  opacity: 0;
  @include fadeIn (1s, 0.7s);

  @media (min-width: $content-width) {
    left: 10%;
    margin-top: 3%;
  }

  @media (min-height: $content-height) {
    top: 15%;
  }

  @media (max-width: $content-width) {
    transform: scale(0.66);
    left: -60px;
  }

  @media (max-height: $content-height) {
    transform: scale(0.66);
    left: -60px;
    top: -40px;
  }

    &__hello {
    position: relative;
    left: 20px;
    top: 20px;
    line-height: 80px;
    font-size: 92px;
  }

  &__myName {
    position: relative;
    float: left;
    top: 25px;
    left: 20px;
    line-height: 80px;
    margin-right: 6px;

    font-size: 92px;
    color: $brand-red;
  }

  &__sub {
    position: relative;
    top: 25px;
    left: 20px;
    float: left;
    padding-right: 20px;
    line-height: 80px;

    font-size: 92px;
    font-weight: 400;
  }

  &__jobs {
    position: relative;
    display: block;
    float: left;
    clear: both;
    top: 30px;
    left: 22px;

    font-size: 66px;
    font-weight: 400;
    line-height: 80px;
  }

  &__rotating-words {
    position: relative;
    display: block;
    float: left;
    top: 30px;
    left: 40px;
  }

  &__rotating-words span {
    position: absolute;
    display: block;
    float: left;
    color: $brand-red;
    font-size: 66px;
    font-weight: 700;
    line-height: 80px;
    opacity: 0;
    overflow: hidden;
    animation: rotateWords 12s linear infinite 0s;
  }

  &__rotating-words span:nth-child(2) {
    animation-delay: 3s;
  }

  &__rotating-words span:nth-child(3) {
    animation-delay: 6s;
  }

  &__rotating-words span:nth-child(4) {
    animation-delay: 9s;
  }

  &__tagline {
    position: relative;
    display: block;
    clear: both;
    float: left;
    top: 25px;
    left: 24px;
    min-width: 501px;

    font-weight: 400;
    font-size: 42px;

    &--highlight {
      color: $brand-red;
      font-weight: 700;
    }

    &--part-two {
      position: relative;
      display: block;
      float: left;
      top: 25px;
      left: 24px;
      font-weight: 400;
      font-size: 42px;
      margin-right: 30px;
    }
  }

  @media (min-height: $content-height) {
    &__jobs,
    &__rotating-words,
    &__tagline {
      margin-top: 50px;
    }

    &__tagline--part-two {
      margin-top: 0;
    }

    @media (min-width: $content-full-width) {
      &__tagline--part-two {
        margin-top: 50px;
      }
    }
  }
}

