.title {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 400px;
  
  font-family: "Source Sans Pro";
  font-weight: 700;
  color: $brand-black;

  @include transition(all 1s ease);

  opacity: 0;
  @include fadeIn (1s, 0.7s);

  @media (min-width: $content-width) {
    left: 10%;
    margin-top: 3%;
  }

  @media (min-height: $content-height) and (min-width: $content-full-width) {
    top: 5%;
  }

  @media (max-width: $content-width) {
    transform: scale(0.66);
    left: -60px;
  }

  @media (max-height: $content-height) {
    transform: scale(0.66);
    left: -60px;
    top: -80px;
  }

    &__hello {
    position: relative;
    left: 20px;
    top: 20px;
    line-height: 80px;
    font-size: 92px;
  }

  &__myName {
    position: relative;
    float: left;
    top: 25px;
    left: 20px;
    line-height: 80px;
    margin-right: 6px;

    font-size: 92px;
    color: $brand-red;
  }

  &__sub {
    position: relative;
    top: 25px;
    left: 20px;
    float: left;
    padding-right: 20px;
    line-height: 80px;

    font-size: 92px;
    font-weight: 400;
  }

  &__jobs {
    position: relative;
    display: block;
    float: left;
    clear: both;
    top: 30px;
    left: 22px;

    font-size: 66px;
    font-weight: 400;
    line-height: 80px;
  }

  &__rotating-words {
    position: relative;
    display: block;
    float: left;
    top: 30px;
    left: 40px;
  }

  &__rotating-words span {
    position: absolute;
    display: block;
    float: left;
    color: $brand-red;
    font-size: 66px;
    font-weight: 700;
    line-height: 80px;
    opacity: 0;
    overflow: hidden;
    @include animation(rotateWords 16s linear infinite 0s);
  }

  &__rotating-words span:nth-child(2) {
    animation-delay: 4s;
  }

  &__rotating-words span:nth-child(3) {
    animation-delay: 8s;
  }

  &__rotating-words span:nth-child(4) {
    animation-delay: 12s;
  }

  &__tagline {
    position: relative;
    display: block;
    clear: both;
    float: left;
    top: 25px;
    left: 24px;
    min-width: 501px;

    font-weight: 400;
    font-size: 42px;

    &--highlight {
      color: $brand-red;
      font-weight: 700;
    }

    &--part-two {
      position: relative;
      display: block;
      float: left;
      top: 25px;
      left: 24px;
      font-weight: 400;
      font-size: 42px;
      margin-right: 30px;
    }
  }

  &__icon_wrapper {
    position: relative;
    top: 80px;
    clear: both;
  }

  &__icon_wrapper span {
    display: block;
    float: left;
    // border-radius: 80%;
    padding-right: 20px;
    padding: 10px 25px 10px 0px;
    width: 80px;
    height: 70px;
    margin-right: 20px;
    @include animation(highlightRed 16s ease infinite 0s);
  }

  &__icon_wrapper span:nth-child(1) {
    animation-delay: 0s;
  }

  &__icon_wrapper span:nth-child(2) {
    animation-delay: 4s;
  }

  &__icon_wrapper span:nth-child(3) {
    animation-delay: 8s;
  }

  &__icon_wrapper span:nth-child(4) {
    animation-delay: 12s;
  }

  @media (min-height: $content-height) {
    &__jobs,
    &__rotating-words,
    &__tagline {
      margin-top: 50px;
    }

    &__tagline--part-two {
      margin-top: 0;
    }

    @media (min-width: $content-full-width) {
      &__tagline--part-two {
        margin-top: 50px;
      }
    }
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-size: 64px;
  // padding-right: 38px;
  transition: all 0.5s ease;
}

.flaticon:hover {
  border-bottom: solid 10px $brand-red;
  padding-bottom: 10px;
  // border-radius: 50%;
}
