$brand-red: #ff5555;
$brand-red-fade: #ffe6e6;
$brand-redshade: #bf4040;
$brand-redshade-fade: #ffd3cc;
$brand-black: #333;

$content-height: 650px;
$content-width: 610px;
$content-full-width: 1075px;
