@import url("https://fonts.googleapis.com/css?family=Arimo|Arvo:400,400i,700|Work+Sans:100,400");
body {
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
  color: #fff; }

h1 {
  font-family: "Arvo", sans-serif;
  font-weight: 400;
  color: #333;
  font-size: 28px; }
  @media (min-width: 580px) {
    h1 {
      font-size: 32px; } }

.container {
  position: relative;
  width: 100vw;
  height: 100vh; }

.title-wrapper {
  background: #ff5555;
  position: relative;
  margin: 0 auto;
  padding-left: 30px;
  animation: 2s grow 0s forwards linear; }

@keyframes grow {
  0% {
    width: 50px;
    height: 20px;
    transform: translateY(-200%);
    top: 0%; }
  30% {
    width: 50px;
    height: 20px;
    transform: translateY(0);
    top: 40%; }
  70% {
    width: 80%;
    height: 20px;
    transform: translateY(0);
    top: 40%; }
  100% {
    width: 80%;
    height: 30%;
    transform: translateY(0);
    top: 30%; } }
  @media (min-width: 580px) {
    .title-wrapper {
      top: 30%;
      left: 20%;
      padding-left: 60px; } }

.title {
  position: relative;
  line-height: 48px;
  transform: translate(0, -50%);
  opacity: 0; }

.title__rotating-words {
  display: inline;
  text-indent: 8px; }

.title--highlight {
  color: #fff;
  font-style: normal; }

.title__rotating-words span {
  position: absolute;
  color: #fff;
  font-style: normal;
  opacity: 0;
  overflow: hidden; }

.title__rotating-words span:nth-child(2) {
  animation-delay: 3s; }

.title__rotating-words span:nth-child(3) {
  animation-delay: 6s; }

.title__rotating-words span:nth-child(4) {
  animation-delay: 9s; }
